*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
/**mobile**/
/**propiedades del header**/
@media (max-width:700px){
    
body{ 
    /* background-color: rgba(149, 149, 149, 0.56); */
    background-color: rgba(221, 220, 220, 0.863);
    font-size: 62.5%;
    font-family: 'Roboto Condensed';
    }
.navbar-color{
    background-color: rgb(209, 246, 193);
    }
ul li a{
    font-size: 1rem;
    font-weight: bolder;
}
.caja-iconos{
    position: sticky;
    top: 0rem;
    display: flex;
    justify-content: center;
    background-color: rgb(161, 100, 56, 0.8);
    z-index: 20;
}
.icono{ 
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
}
/********************aca empiezan las propiedades del body********************/
.caja-h1{
    border-bottom: dotted black 2px;
    margin: 2rem 0 2rem 0rem;
    padding: 0 0.5rem 0 1rem;
}
h1{
    font-size: 2rem;
}
h1::selection{
    background-color: black;
    color: white;
}
main{
    margin: 0 2rem 0.5rem 2rem;
}
.carousel-tamaño{
    width: 100%;
    height: 60%;
    margin: 0 auto;
}
.img-carousel{
    margin-top: 1rem;
    width: 20rem;
    height: 16rem;
}
.productos{
    margin-bottom: 1rem;
}
.img-productos{
    width: 100%;
    height: 100%;
}
.productos-descktop{
    display: none;
}
.grid-productos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards{
    width: 100%;
    height: 16rem;
    margin-bottom: 1.5rem;
}
.cards:hover{
    transform: scale(1.1);
}
.caja-imgCards{
    width: 100%;
    height: 100%;
}
.imgCards{
    width: 100%;
    height: 16rem;
    border: solid black 1px;
}
.caja-textoCards{
    position: relative;
    bottom: 4rem;
    z-index: 10;
    background-color: rgba(68, 68, 68, 0.6);
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textoImg{
    color: white;
    font-size: 2rem;
}
.a{
    font-size: 1.1rem;
}
.aa{
    height: auto;
    width: 100%;
    word-wrap: break-word;
    margin-bottom: 2.2rem;
    padding: 0 0.3rem;
    border-bottom: solid black 2px;
}
p::selection{
    background-color: black;
    color: white;
}
.caja-boton{
    width: 6rem;
    height: 2rem;
    margin: auto;
}
.boton{
    width: 100%;
    height: 100%;
}
.mainP5{
    background-image: url(../img/plantasPaisajeFondo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 2rem 0.5rem 2rem;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 30rem;
    margin: 1rem 0 0 0;
}
h2{
    font-size: 2rem;
    margin: 0 auto;
}
.caja-formulario{ 
    width: 80%;  
    height: 15%; 
    margin-top: 1rem; 
}
.formulario{
    width: 100%;
    height: 100%;
    border-top: none;
    border-right: none;
    border-color: rgb(209, 246, 193);
    padding-top:2.5rem;
    padding-left: 0.1rem;
    background-color: transparent;
    font-size: 1.5rem;
}
.formulario:focus{
    box-shadow: 0rem 0.5rem 1rem 0 black;
    background-color: rgba(221, 220, 220, 0.863);
    outline: none;
}
.formulario::placeholder{
    color: rgb(161, 100, 56);
    font-size: 1.5rem;
    padding-left: 0.3rem;
}
.caja-textarea{ 
    width: 80%;  
    height: 40%; 
    margin-top: 1rem; 
}
.textarea{
    width: 100%;
    height: 100%;
    resize: none;
    background-color: transparent;
    border-top: none;
    border-color: rgb(209, 246, 193);
    font-size: 1.2rem;
    padding-left: 0.1rem;
}
.textarea:focus{
    box-shadow: 0rem 0.5rem 1rem 0 black;
    background-color: rgba(221, 220, 220, 0.863);
    outline: none;
}
.textarea::placeholder{
    color: rgb(161, 100, 56);
    font-size: 1.5rem;
    text-align: center;
    padding-top: 4rem;
}
.caja-botonP5{
    width: 6rem;
    height: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.botonP5{
    width: 100%;
    height: 100%;
}
footer{
    display: flex;
    background-color: rgb(161, 100, 56, 0.8);
    height: 10rem;
    border-top: solid 1px black;
}
.footer-izquierda{
    width: 50%;
    border-right: solid rgba(0, 0, 0, 0.104) 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-derecha{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}
.p-mapa{
    font-size: 1rem;
}
.mapa2{
    display: none;
}
.mapa3{
    display: none;
}
}



                /**propiedades medida media**/
                    @media (min-width:701px){

body{ 
    background-color: rgba(221, 220, 220, 0.863);
    font-size: 62.5%;
    font-family: 'Roboto Condensed';
}
.navbar-color{
        background-color: rgb(209, 246, 193);
    }
ul li a{
    font-size: 1rem;
    font-weight: bolder;
}
.caja-iconos{
    position: sticky;
    top: 0rem;
    display: flex;
    justify-content: center;
    background-color: rgb(161, 100, 56, 0.8);
    z-index: 20;
}
.icono{ 
    width: 4rem;
    height: 4rem;
    margin-left: 1.8rem;
}
/*aca empiezan las propiedades del body*/
.caja-h1{
    border-bottom: dotted black 2px;
    margin: 2rem 0 2rem 0rem;
}
h1{
    font-size: 2.5rem;
    margin-left: 16%;
}
h1::selection{
    background-color: black;
    color: white;
}
main{
    margin: 0 4rem 0.5rem 4rem;
}
.carousel-tamaño{
    width: 100%;
    height: 60%;
    margin: 0 auto;
}
.img-carousel{
    margin-top: 1rem;
    width: 20rem;
    height: 16rem;
}
.grid-productos{
    display: grid;
    grid-template-areas: 
    "producto1  producto2"
    "producto3  producto4"
    "producto5  producto6"
    "producto7  producto8"
    "producto9  producto10"
    "producto11 producto12"
    "producto13 producto14"
    "producto15 producto15";
    justify-content: space-between;
}
.productos{
    margin-bottom: 2rem;
}
.producto1{
    grid-area: producto1;
}
.producto2{
    grid-area: producto2;
}
.producto3{
    grid-area: producto3;
}
.producto4{
    grid-area: producto4;
}
.producto5{
    grid-area: producto5;
}
.producto6{
    grid-area: producto6;
}
.producto7{
    grid-area: producto7;
}
.producto8{
    grid-area: producto8;
}
.producto9{
    grid-area: producto9;
}
.producto10{
    grid-area: producto10;
}
.producto11{
    grid-area: producto11;
}
.producto12{
    grid-area: producto12;
}
.producto13{
    grid-area: producto13;
}
.producto14{
    grid-area: producto14;
}
.producto15{
    grid-area: producto15;
}
.cards{
    width: 100%;
    height: 25rem;
    margin-bottom: 1.5rem;
}
.cards:hover{
    transform: scale(1.1);
}
.caja-imgCards{
    width: 100%;
    height: 100%;
}
.imgCards{
    width: 100%;
    height: 25rem;
    border: solid black 1px;
}
.caja-textoCards{
    position: relative;
    bottom: 4rem;
    z-index: 10;
    background-color: rgba(68, 68, 68, 0.6);
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textoImg{
    color: white;
    font-size: 2rem;
}
.a{
    font-size: 1.1rem;
}
.aa{
    height: auto;
    width: 100%;
    word-wrap: break-word;
    margin-bottom: 2.6rem;
    padding: 0 0.3rem;
    border-bottom: solid black 2px;
}
p::selection{
    background-color: black;
    color: white;
}
.caja-boton{
    width: 6rem;
    height: 2rem;
    margin: auto;
}
.boton{
    width: 100%;
    height: 100%;
}
footer{
    display: flex;
    background-color: rgb(161, 100, 56, 0.8);
    height: 10rem;
    border-top: solid 1px black;
}
.footer-izquierda{
    width: 50%;
    border-right: solid rgba(0, 0, 0, 0.104) 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-derecha{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.p-mapa{
    font-size: 1rem;
}
.mapa{
    display: none;
}
.mapa3{
    display: none;
}
}




                    /**propiedades medida descktop**/
                    @media (min-width:1000px){

body{ 
        background-color: white;
        font-size: 62.5%;
        font-family: 'Roboto Condensed';
    }
.navbar-color{
        background-color: rgb(209, 246, 193);
    }
ul li a{
    font-size: 1.2rem;
    font-weight: bolder;
}
.caja-iconos{
    position: sticky;
    top: 0rem;
    display: flex;
    justify-content: center;
    background-color: rgb(161, 100, 56, 0.8);
    z-index: 20;
}
.icono{ 
    width: 4rem;
    height: 4rem;
    margin-left: 1.8rem;
}

/*aca empiezan las propiedades del body*/
.caja-h1{
    border-bottom: dotted black 2px;
    margin: 2rem 0 2rem 0rem;
    padding: 0 0.5rem 0 1rem;
}
h1{
    font-size: 2.5rem;
    margin-left: 30%;
}
h1::selection{
    background-color: black;
    color: white;
}
main{
    margin: 0 5rem 0.5rem 5rem;
}
.carousel-tamaño{
    width: 100%;
    height: 35rem;
    margin: 0 auto;
}
.img-carousel{
    margin-top: 1rem;
    width: 20rem;
    height: 35rem;
}
.grid-productos{
    display: grid;
    grid-template-areas: 
    "producto1 producto2 producto3"
    "producto4 producto5 producto6"
    "producto7 producto8 producto9"
    "producto10 producto11 producto12"
    "producto13 producto14 producto15";
    justify-content: space-between;
}
.productos{
    margin-bottom: 2rem;
}
.producto1{
    grid-area: producto1;
}
.producto2{
    grid-area: producto2;
}
.producto3{
    grid-area: producto3;
}
.producto4{
    grid-area: producto4;
}
.producto5{
    grid-area: producto5;
}
.producto6{
    grid-area: producto6;
}
.producto7{
    grid-area: producto7;
}
.producto8{
    grid-area: producto8;
}
.producto9{
    grid-area: producto9;
}
.producto10{
    grid-area: producto10;
}
.producto11{
    grid-area: producto11;
}
.producto12{
    grid-area: producto12;
}
.producto13{
    grid-area: producto13;
}
.producto14{
    grid-area: producto14;
}
.producto15{
    grid-area: producto15;
}
.grid-plantas{
    display: grid;
    grid-template-areas: 
    "card1  card2"
    "card3  card4"
    "card5  card6"
    "card7  card8"
    "card9  card10"
    "card11 card12"
    "card13 card14"
    "card15 card16";
}
.card1{
    grid-area: card1;
}
.card2{
    grid-area: card2;
}
.card3{
    grid-area: card3;
}
.card4{
    grid-area: card4;
}
.card5{
    grid-area: card5;
}
.card6{
    grid-area: card6;
}
.card7{
    grid-area: card7;
}
.card8{
    grid-area: card8;
}
.card9{
    grid-area: card9;
}
.card10{
    grid-area: card10;
}
.card11{
    grid-area: card11;
}
.card12{
    grid-area: card12;
}
.card13{
    grid-area: card13;
}
.card14{
    grid-area: card14;
}
.card15{
    grid-area: card15;
}
.card16{
    grid-area: card16;
}
.contenedor-cards{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.cards{
    width: 100%;
    height: 20rem;
    margin-bottom: 1.5rem;
}
.cards:hover{
    transform: scale(1.03);
}
.caja-imgCards{
    width: 100%;
    height: 100%;
}
.imgCards{
    width: 100%;
    height: 20rem;
    border: solid black 1px;
}
.caja-textoCards{
    position: relative;
    bottom: 4rem;
    z-index: 10;
    background-color: rgba(68, 68, 68, 0.6);
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textoImg{
    color: white;
    font-size: 2rem;
}
.a{
    font-size: 1.1rem;
}
.aa{
    height: auto;
    width: 100%;
    word-wrap: break-word;
    margin-bottom: 2.6rem;
    padding: 0 0.3rem;
    border-bottom: solid black 2px;
}
p::selection{
    background-color: black;
    color: white;
}
.caja-boton{
    width: 6rem;
    height: 2rem;
    margin: auto;
}
.boton{
    width: 100%;
    height: 100%;
}
footer{
    display: flex;
    background-color: rgb(161, 100, 56, 0.8);
    height: 10rem;
}
.footer-izquierda{
    width: 50%;
    border-right: solid black 1px;
}
.footer-derecha{
    width: 50%;
}
}


