*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
/**mobile P2**/
/**propiedades del header**/
@media (max-width:800px){
    body{ background-color: rgba(149, 149, 149, 0.56);
        font-size: 62.5%;
    }
    header{
        /* background-color: rgb(209, 246, 193); */
        width: 100%;
        height: 11.5rem;
        margin-bottom: 1rem;
        position: sticky;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
li a:visited{
    color: white;
}
.caja-iconos{
    display: flex;
    justify-content: center;
    background-color: rgb(161, 100, 56);
}
.icono{ 
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
}
.caja-logo{
    display: flex;
    justify-content: center;
}
.caja-barras{
    display: flex;
    justify-content: center;
    /* background-color: rgb(161, 100, 56); */
}
.barras{
    height: 2rem;
    width: 2rem;
}
.caja-barras p{
    position: absolute;
    margin-top: 0.9rem;
    color: rgb(18, 14, 14);
}
.caja-links{
    background-color:  rgb(161, 100, 56);
}
ul{
    display: flex;
    justify-content: center;
}
li{
    margin-top: 0.3rem;
    margin-right: 1rem;
    margin-bottom: 0.3rem;
    padding: 0.5rem;
    background-color: rgb(128, 128, 128, 0.8);
    border-radius: 10%;
}
li:hover{
    background-color: transparent;
}
/**aca empiezan las propiedades del body**/
aside{
    background-color: red;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    height: 10rem;
}
main{
    margin: 0 2rem 0.5rem 2rem;
}
.cardsP2{
    background-color: aquamarine;
    width: 100%;
    height: 16rem;
    margin-bottom: 1.5rem;
}
.cardsP2:hover{
    transform: scale(1.1);
}
.caja-imgCardsP2{
    width: 100%;
    height: 100%;
}
.imgCardsP2{
    width: 100%;
    height: 16rem;
}
.caja-textoCardsP2{
    position: relative;
    bottom: 4rem;
    z-index: 10;
    background-color: rgba(68, 68, 68, 0.6);
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textoImg{
    color: white;
    font-size: 2rem;
}
.a{
    font-size: 1rem;
}
.aa{
    height: 6rem;
    width: 100%;
    word-wrap: break-word;
    border: solid blue 2px;
    margin-bottom: 1rem;
    padding: 0 0.3rem;
}
footer{
        background-color: rgb(161, 100, 56);
        height: 10rem;
}
}

/**propiedades descktop p2**/
@media (min-width:801px){
    body{
        font-size: 62.5%;
    }
    .grilla-general{
        display: grid;
        grid-template-areas: 
        "header header"
        "main   aside"
        "main   aside"
        "footer footer";
        grid-template-columns: 3fr 1fr;
    }
header{
    background-color: rgb(209, 246, 193);
    width: 100%;
    height: 11.5rem;
    margin-bottom: 1rem;
    position: sticky;
    /*top: ;*/
    display: grid;
    grid-area: header;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
li a:visited{
    color: white;
}
/*li a:hover{
    background-image: linear-gradient(to bottom, black, grey);
}*/
.caja-iconos{
    display: flex;
    justify-content: center;
    background-color: rgb(161, 100, 56);
}
.icono{ 
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
}
.caja-logo{
    display: flex;
    justify-content: center;
}
/*.lupa{
    height: 2rem;
    width: 2rem;
}*/
.caja-barras{
    display: none;
}
.barras{
    display: none;
}
.caja-barras p{
    display: none;
}
.caja-links{
    background-color:  rgb(161, 100, 56);
    margin-top: 0.3rem;
}
ul{
    display: flex;
    justify-content: space-evenly;
}
li{
    margin-right: 0.4rem;
    font-size: 1rem;
}

/*aca empiezan las propiedades del body*/
aside{
    grid-area: aside;
    height: 100%;
    background-color: red;
}
main{
    grid-area: main;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.cardsP2{
    background-color: aquamarine;
    height: 16rem;
    width: 60%;
    margin-left: 11rem;
    margin-bottom: 1rem;
    border: red solid 1px;
}
.caja-imgCardsP2{
    width: 100%;
    height: 100%;
}
.imgCardsP2{
    width: 100%;
    height: 16rem;
}
.imgCardsP2:hover{
    width: 50%;
    transition: 2s;
}
.caja-textoCardsP2{
    position: relative;
    bottom: 8rem;
    z-index: 10;
    background-color: rgba(68, 68, 68, 0.8);
}
.textoImg{
    color: white;
}
footer{
    grid-area: footer;
    background-color: rgb(161, 100, 56);
}
}